header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
.formhead {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.head3r {
  float: left;
  margin-left: 20px;
  display: flex;
}
.allhead {
  width: 100%;
}

.asides {
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin-left: -25px;
  width: 210px;
  height: 150px;
  display: flex;
  justify-content: center;
  gap:10px
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
