@font-face {
  font-family: OnePieceManga;
  src: url(./src/media/fonts/one\ piece\ font.ttf);
}
@font-face {
  font-family: Ubuntu;
  src: url(./src/media/fonts/Ubuntu-Regular.ttf);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("src/media/imgs/c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.maroto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  > input {
    width: min-content;
  }
}
.header {
  background-image: url("src/media/imgs/fondoheader.jpg");
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;
  padding: 0;
  height: 10vh;
  text-align: center;
  font-family: OnePieceManga;
  border-bottom: solid rgb(83, 78, 65);
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: url("src/media/imgs/fondoheader.jpg");
  border-top: solid rgb(83, 78, 65);
  position: relative;
  height: 10vh;
  width: 100%;
}
.coco {
  position: absolute;
  bottom: 0;
  right: 0;
  color: solid rgb(83, 78, 65);
  padding-right: 30px;
}
form {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  padding: 10px;
  border: 3px solid rgb(83, 78, 65);
  border-radius: 8px;
  background: rgba(217, 203, 167, 1);
  font-family: Ubuntu;
}
.imgmugis {
  display: none;
}
.manolo {
  max-width: 70px;
  height: auto;
  position: absolute;
  min-width: 70px;
}
button {
  background-color: black;
  border-radius: 6px;
  border-width: 0;
  cursor: pointer;
  height: 44px;
  margin: 12px 0 0;
  text-align: center;
  width: 20%;
  color: #fff;
  margin-left: 65%;
  margin-bottom: 20px;
}

.formInput {
  display: block;
  margin: 25px 0px;
  width: 100%;
}
.formInputYears {
  display: inline-block;
  margin: 25px 0px;
  width: 15%;
  margin-left: 42%;
}
.formInputNombre {
  display: inline-block;
  margin: 25px 0px;
  width: 35%;
  margin-left: 31%;
}
.formInputFecha {
  margin-left: 35%;
}

label {
  display: block;
  text-align: center;
}
legend {
  display: block;
  text-align: center;
}
.mingo {
  padding-bottom: 5%;
}
div.maroto {
  height: 20px;
  margin-right: 0.8%;
}
.pedro {
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  > input {
    width: min-content;
  }
  margin-left: 3.2%;
}
.alfarius {
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  > input {
    width: min-content;
  }
  margin-left: 1.6%;
}
.ronda {
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  > input {
    width: min-content;
  }
  margin-left: 0.2%;
}
.botones {
  margin-top: 1%;
  margin-bottom: 1%;
}
