body {
  background-image: url(imgs/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.banner {
  font-size: 50px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
  color: red;
  transform: rotate(-15deg);
  transition: transform 1s ease;
  width: fit-content;
  position: absolute;
  left: 35%;
  top: 40%;
  z-index: 1;
}

.banner:hover {
  transform: rotate(75deg);
}

.nein {
  margin: 0%;
  margin-left: 13%;
  height: 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
  overflow: auto;
  box-shadow: 0px 0px 20px rgb(255, 0, 0);
}

hr {
  border: none;
  height: 5px;
  width: 71%;
  background-color: #000;
}

.title {
  color: #333;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-size: 12px;
  font-family: "Arial";
}

.subtitle span {
  flex: 1;
  text-align: center;
}

h2.title {
  font-size: 20px;
  font-family: "Arial";
  font-weight: bold;
}

.article {
  column-count: 3;
  width: 60%;
  column-rule: 3px solid #ccc;
  float: right;
  text-align: justify;
  font-size: 12px;
  margin-right: 15%;
  font-family: "Chomsky";
}

.text {
  margin-bottom: 3%;
}

.venezia {
  margin-left: 35%;
  display: flex;
  width: 65%;
  margin-bottom: 1%;
  gap: 15%;
}

.roma {
  border: 4px double black;
  width: 20%;
}
