        
        body {
            background-color: #e8f5e9;
            margin-top: 0;
            padding-top: 0;
            overflow-x: hidden;
        }
        .container {
            margin-top: 20px;
        }
        .audio-controls {
            margin-bottom: 10px;
        }
        .nav-link:hover {
            cursor: pointer;
        }
        /* Estilos para hacer que el nav ocupe toda la zona superior */
        .navbar {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.9);
        }
        /* Asegurar que el contenido no quede cubierto por el navbar */
        .content {
            margin-top: 80px; /* Ajuste dependiendo de la altura del navbar */
        }
        #FullPageCarousel {
            display: none;
        }
        #contenidoSonidos {
            display: none;
        }
        .navbar-brand {
            cursor: pointer;
        }
      /* Switch container */
.toggleSwitch {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
  }
  
  /* Hide checkbox */
  #checkboxInput {
    display: none;
  }
  
  /* Icon styles */
  .icon {
    position: absolute;
    width: 30%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .mute-speaker {
    opacity: 1; /* Mute visible by default */
  }
  
  .toggleSwitch svg {
    width: 18px;
  }
  
  /* Toggle visibility based on checkbox state */
  #checkboxInput:checked + .toggleSwitch .mute-speaker {
    opacity: 0;
  }
  
  #checkboxInput:checked + .toggleSwitch .speaker {
    opacity: 1;
  }
  
  /* Hover and active effects */
  .toggleSwitch:hover {
    background-color: #3d3d3d;
  }
  
  #checkboxInput:active + .toggleSwitch {
    transform: scale(0.7);
  }
  .audio-image {
    display: none;
    width: 100px;
    height: auto;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.audio-image[style*="display: block;"] {
    opacity: 1;
}